body { color: blue; background-color: pink; }

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
}
h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 15px;
}

<style>
p {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;    
    padding: 20px;
    text-align: center;
}
body {
     border: 20px 
    }
</style>
